<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Achado Na Gringa</title>
  </head>
  <body>
    <nav style="background-color: aquamarine !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 mx-auto fs-1">Calculo De Margem</span>
        </div>
    </nav>
    <div style="text-align: center;" class="container">
        <h1></h1>
        <form method="post" action="{% url 'calcular' %}">
            {% csrf_token %}
            <label class="fs-4" for="numero1">Digite o custo do produto + frete:</label>
            <input class="form-control-sm mt-3 fs-5" type="number" name="Digite o custo do produto + frete" required><br>
            <input class="form-control-sm mt-3 fs-5" type="submit" value="Calcular">
        </form>
    </div>

    <div style="text-align: center;" class="card">
        <div class="card-header mt-5 fw-bold fs-4">
            Taxas de serviços
        </div>
        <div class="card-body">
            <p class="card-text fs-5">Mercado Pago 4,99%</p>
            <p class="card-text fs-5">Yampi 2,50%</p>
            <p class="card-text fs-5">Shopify 1,00%</p>
            <p class="card-text fs-5">IOF Boleto Aliexpress 0,38%</p>
            <p class="card-text fs-5">Impostos 0,00%</p>
            <p class="card-text fw-bold fs-5">Total 8,87%</p>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>